Actually NaN is not permitted by the JSON spec.

From RFC 4627 Section 2.4: (http://www.ietf.org/rfc/rfc4627.txt)

```
Numeric values that cannot be represented as sequences of digits
(such as Infinity and NaN) are not permitted.
```


Ah, you are correct.  I'll change the title to reflect the problem more accurately.

It is a design decision to follow the spec or python standard library behavior.

Should make a note in the readme of this difference with json/simplejson.  Some user switching from json  to ujson may depend on this (incorrect) behavior.

`OverflowError` seems like the wrong exception to throw.  A better exception choice and a useful error message would be helpful.

A quick survey:
- json: no error
- simplejson: no error
- yajl: `TypeError: Object is not JSON serializable`
- ujson: `OverflowError: Invalid Nan value when encoding double`


We'll go with the json spec on this one.


No solution offered yet. Does this mean that whenever there is a `nan` in the data we have to use a different package?

Any way to handle this?

Some good news: the first bit will be fixed by https://github.com/ultrajson/ultrajson/pull/327, but means dropping Python 2.7:

```pycon
Python 3.8.2 (v3.8.2:7b3ab5921f, Feb 24 2020, 17:52:18)
[Clang 6.0 (clang-600.0.57)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
(.startup.py)
(imported collections, datetime, itertools, math, os, pprint, re, sys, time)
>>> import ujson, json
>>> ujson.__version__
'2.0.4.dev4'
>>> json.__version__
'2.0.9'
>>> json.dumps(float('nan'))
'NaN'
>>> ujson.dumps(float('nan'))
'NaN'
```

PRs welcome for the second bit:

```pycon
>>> json_nan = json.dumps(float('nan'))
>>> json.loads(json_nan)
nan
>>> ujson.loads(json_nan)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ValueError: Expected object or value
>>>
```


This was implemented in pandas which vendored ujson quite a few years ago. I think integration here wouldn't be too difficult if anyone wants to take a look:

https://github.com/pandas-dev/pandas/pull/30295/files

I understand this isn't strictly in the json spec, but this issue means I cannot use ujson in my application, which is a bummer considering it seems much faster than what CPython ships with.

This issue also means that `ujson` is not a drop-in replacement for `json`. It might be good to at least add a caveat to that claim on the README page.

Is adding support for nans in order to _actually_ be a drop-in replacement something that would kill the speed of ujson? Is having the ability to call `load` when I know my data might contain nans (which it does because it is real-world data) something that the authors are at all interested in?